.DS_Store
/Carthage
/Zypher.xcodeproj/project.xcworkspace/xcuserdata/dezinezync.xcuserdatad/UserInterfaceState.xcuserstate
/Zypher.xcodeproj/project.xcworkspace/xcuserdata/
/Zypher.xcodeproj/xcuserdata/taranghirani.xcuserdatad/
*.xcbkptlist
